* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body, input, button {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
}

body {
    background: #040924;
    /* border: 5px solid rgb(255, 2, 2); */
}


/* Header */
header {
    display: flex;
    justify-content: center;
    position: absolute;

    top: 0;
    width: 100%;
    padding: .7rem;

    background-color: #F03E3E;
    visibility: hidden;
    transform: translateY(-40px);
    transition: all 1s;
}

header p {
    color: #FFF;
    font-family: 'Roboto';
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 2rem;
}




/* ScreenHome */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    height: 100vh;
    /* border: 5px solid white; */
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 42.8rem;
    max-height: 44rem;
    padding: 4.8rem 5.4rem;
    border-radius: 10px;
    background: white;
    /* border: 5px solid rgb(255, 3, 3); */
}

fieldset {
    border: none;
}

legend {
    color: #0C3440;
    font-size: clamp(1.5rem, 1.8vw + 1.8rem, 3.2rem);
    font-weight: 700;
    line-height: 4.0rem;
    margin-bottom: 3.2rem;
}

::-webkit-input-placeholder {
    color: rgba(73, 80, 87, 0.50);
    font-family: 'Roboto';
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2rem;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
}

.input-wrapper input {
    padding: 1.6rem;
    width: 100%;
    max-height: 5.2rem;
    /* width: 100%; */
    border-radius: 5px;
    border: none;

    background: #DCE2E9;
    
}

.input-wrapper:nth-child(2) {
    margin-bottom: 1.6rem;
}

.input-wrapper input::-webkit-inner-spin-button {
    appearance: none;                                    /* Retirando setas do input number*/
}

.input-wrapper label {
    color:#00453A;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.8rem;
    margin-bottom: 8px;
}

button {
    display: flex;
    background-color:#02799D;
    align-items: center;
    justify-content: center;
    padding: 1.6rem;
    width: 100%;
    max-height: 5.2rem;
    border-radius: 5px;
    border: none;
    margin-top: 3.2rem;

    color: #FFF;
    text-align: center;
    font-size: clamp(1rem, 2vw + .9rem, 1.8rem);
    font-weight: 700;
    line-height: 2rem;
    transition: all .4s;
    cursor: pointer;
}

button:hover {
    background-color:#005670;
    transform: scale(1.01);
}






/* ScreenModal*/
.screenModal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    max-width: 36.3rem;
    margin: 0 2.2rem;
    padding: 3rem;
    border-radius: 10px;
    position: absolute;
    box-shadow: 0px 0px 10px 5px rgba(5, 5, 5, 0.534);
}

.screenModal h1 {
    color: #0C3440;
    text-align: center;
    font-family: 'Roboto';
    font-size: clamp(2rem, 3vw + 1rem ,2.5rem);
    font-weight: 700;
    line-height: 40px;
}

.text {
    display: flex;
    gap: 5px;
}

.screenModal p {
    color: #0C3440;
    text-align: center;
    font-family: 'Roboto';
    font-size: clamp(1.5rem, 2vw + 1rem, 2rem);
    font-weight: 700;
    line-height: 40px;
}

.screenModal span {
    color: #0c3440b6;
    text-align: center;
    font-family: 'Roboto';
    font-size: clamp(1.2rem, 1vw + 1rem, 1.5rem);
    font-weight: 700;
    line-height: 40px;
}

.screenModal img {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    transition: all .4s;
}

.screenModal img:hover {
    transform: scale(1.15);
    cursor: pointer;
}







/*TogglesClass */
.hidden {
    display: none;
}

.blur {
    filter: blur(4px);
}

.saturate {
    filter: saturate(50%);
}

.openError {
    visibility: visible;
    transform: translateY(0px);
}




@media (max-width: 500px){
    body {
        margin: 0 auto;
        max-width: 500px;
        /* border: 5px solid rgb(255, 2, 2); */
    }
}
    


